@font-face {
    font-family: Nunito;
    src: url(fonts/Nunito-Regular.ttf);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.sprite{
    background-image: url(../images/sprite.png?v=1.2);
    background-repeat: no-repeat;
}
body{
    font-size:14px;
    font-family: 'Roboto', sans-serif;
    background: #F7F7F7;
}
a{
    color:#333;
}
a:hover{
    text-decoration: none;
}
/*iframe,
img{
    max-width:100%;
    height: auto;
}*/
img{
    max-width:100%;
    height: auto;
}
p,ul,li,h1,h2,h3,ol,form{
    margin:0;
    padding:0;
}
.left{
    float:left;
}
.right{
    float:right;
}
.clearfix{
    clear: both;
}
ul li{
    list-style:none;
}
.container{
    width: 1200px;
    max-width: 100%;
    padding: 0 10px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.grid-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#content > .container{
    background: #fff;
}
#header{
    background: rgb(15,91,154);
    background: linear-gradient(90deg, rgba(15,91,154,1) 0%, rgba(76,157,220,1) 100%);
    color:#fff;
}


.top-header {
    background: rgb(29,101,160);
    background: linear-gradient(90deg, rgba(29,101,160,1) 0%, rgba(86,162,222,1) 100%);
    height: 35px;
    line-height: 35px;
    color:#fff;
}

.top-header .header-item{
    float:left;
    margin:0 0 0 10px;
    font-weight: bold;
}

.top-header .header-item.hotline{
    font-weight:bold;
    font-size:16px;
    color: #FFB233;
}
.top-header .header-item.hotline .fa-phone,
.top-header .header-item.support .fa-support{
    background: #fff;
    color: #418ac6;
    border-radius: 50%;
    padding: 4px;
}
.top-header .header-item.hotline .fa-phone{
    padding:4px 6px;
    color:#FFB233;
}
.top-header .header-item > a{
    padding:10px 20px;
    color:#fff;
}
.header-item.support .dropdown {
    width: 100%;
    background: linear-gradient(90deg, rgba(224,32,32,1) 0%, rgba(255,202,0,1) 50%, #00f 100%);
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    padding: 0 10px;
}
.header-item.support .dropdown > a {
    color: #fff !important;
}
#modal-contact p ,  .header-item.support .dropdown-item p {
    border-bottom: 1px solid #dcdcdc;
}
#modal-contact span, .header-item.support .dropdown-item span{
    display: block;
    margin-left: 10px;
    font-size: 13px;
}
#modal-contact .fa-facebook-f, .header-item.support .dropdown-item .fa-facebook-f {
    background: #4267b2;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
}
.top-header .header-item .menu ul li{
    float:left;
    font-weight: normal;
}
.top-header .header-item .menu ul li a{
    padding: 8px 20px;
}
.top-header .header-item .menu ul li a:hover{
    background:#68a8da;
}
.mid-header > .container,
.top-header > .container{
    overflow: inherit;
}
#header .top-header .dropdown-menu a{
    color:#333;
}
#modal-showroom{
    color:#333;
}
#modal-showroom p.font-weight-bold{
    line-height: 1.7em;
}
#modal-showroom .map{
    margin-top: 10px;
}
#main-logo{
}
#main-logo img{
    width: 120px;
    margin: 0 0 0 0;
}
.mid-header{
    padding:6px 0 4px 0;
    transition: all 0.2s ease;
    background: rgb(15,91,154);
    background: linear-gradient(90deg, rgba(15,91,154,1) 0%, rgba(76,157,220,1) 100%);
    height: 72px;
}
.fixtop .mid-header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 10;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}
.box-search .text{
    margin: 0 0 5px 0;
}
.mid-header .box-search{
    width:640px;
    margin:0 0 0 20px;
}
#main-search{
    margin:0 0 6px 0;
    position: relative;
}
#main-search .text{

}
#main-search .input-search{
    width:100%;
    position: relative;
}
#main-search .input-search .icon-search{
    position:absolute;
    top: 3px;
    right: 5px;
    width: 55px;
    height: 30px;
    background: #FF9F00;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    border: none;
    color: #fff;
}
#main-search .input-search input{
    width: 100%;
    outline: none;
    height: 35px;
    border: 1px solid #4E98D6;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);
    color:#fff;
    padding:5px;
}
#suggest-search{
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top:101%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
}
#suggest-search .result-search{
    display: flex;
}
#suggest-search .list-keywords{
    float: left;
    border-right: 1px solid #dcdcdc;
    width: 20%;
    overflow: hidden;
}
#suggest-search .list-keywords .caption{
    padding: 5px;
}
#suggest-search .list-keywords ul li{
    display: block;
    padding: 5px 0;
}
#suggest-search .list-keywords ul li:hover{
    background: #e1e1e1;
}
#suggest-search .list-keywords ul li a{
    color:#333;
    padding: 5px;
    font-style: italic;
}
#suggest-search  .caption{
    text-transform: uppercase;
    color:#333;
    margin: 0 0 5px 0;
    font-size: 13px;
    font-weight: bold;
}
#suggest-search .list-products{
    float: left;
    padding:5px;
    width: 80%;
}
#suggest-search .border-ver{
    -ms-flex-item-align: stretch;
    align-self: stretch;
    border: solid;
    border-width: 0 thin 0 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: inherit;
    min-height: 100%;
    max-height: 100%;
    max-width: 0;
    width: 0;
    vertical-align: text-bottom;
}
#suggest-search .search-item{
    overflow: hidden;
    font-size: 13px;
}
#suggest-search .search-item:hover, #suggest-search .search-item.active{
    background: #f8f8f8;
}
#suggest-search .search-item img{
    width: 60px;
    float: left;
    padding: 2px;
    border:1px solid #dcdcdc;
    margin: 3px;
    border-radius: 1px;
}
#suggest-search .search-item a{
    color:#333;
}
#suggest-search .search-item span{
    display: block;
}
#suggest-search .search-item .price{
    color:#dc3545;
}
#header .tags-suggest a{
    display: inline-block;
    padding: 2px 5px 0 5px;
    border-right: 1px solid #dcdcdc;
    color: #ffffff;
    line-height: 10px;
}
#header .tags-suggest a:hover{
    color:#7eb0d8;
}
#header .tags-suggest a:last-child{
    border:none;
}

#header .cart{
    margin: 4px 0 0 10px;
    position:relative;
}
#header .cart .fa-shopping-cart{
    font-size:28px;
}
#header .buid-config{
    margin: 0px 10px;
    padding: 8px 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(224,32,32,1) 0%, rgba(255,202,0,1) 50%, #00f 100%);
    text-transform: uppercase;
    font-size: 12px;
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
#header .buid-config img{
    width: 30px;
    margin: 0 5px 0 0;
}
#header .cart .count-item{
    position: absolute;
    top: -10px;
    background: #ff0000;
    border-radius: 50%;
    padding: 0px 7px;
}

#main-menu > ul > li > a{
    color: #122C51;
    text-transform: uppercase;
    padding: 10px 0 7px 25px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 100%);
    display: block;
    border-bottom: 1px solid #dcdcdc;
    line-height: 26px;
    font-weight:bold;
    font-size:13px;
    position:relative;
}
#main-menu > ul > li > a:hover{
    color:#fff;
    background: rgb(0,49,118);
    background: linear-gradient(0deg, rgba(0,49,118,1) 0%, rgba(18,44,81,1) 100%);
}
#main-menu > ul > li > a:hover:after{
    content: "";
    border: 8px solid transparent;
    border-right: 8px solid #fff;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
    margin-right:-1px;
    z-index: 2;
}
#main-menu > ul > li > a .icon{
    width:30px;
    height:30px;
    float:left;
    margin:0 15px 0 0px;
    background-size:72%;
    background-repeat: no-repeat;
}
#main-menu > ul > li > a .icon.icon-pc-workstation{
    background-image: url(/images/icons/s1@2x.png);
    background-size:100%;
}
#main-menu > ul > li > a .icon.icon-pc-gamer{
    background-image: url(/images/icons/s2@2x.png);
    background-size:100%;
}
#main-menu > ul > li > a .icon.icon-laptop{
    background-image: url(/images/icons/s3@2x.png);
    background-size: 72%;
}
#main-menu > ul > li > a .icon.icon-cpu-bo-vi-xu-ly{
    background-image: url(/images/icons/s4@2x.png);
    background-size: 64%;
}
.icon-mainboard-bo-mach-chu{
    background-image: url(/images/icons/s5@2x.png);
}
.icon-vga-card-man-hinh{
    background-image: url(/images/icons/s6@2x.png);
}
#main-menu > ul > li > a .icon.icon-case-vo-may-tinh{
    background-image: url(/images/icons/s7@2x.png);
    background-size:58%;
}
#main-menu > ul > li > a .icon.icon-o-cung-hdd-ssd{
    background-image: url(/images/icons/s8@2x.png);
    background-size: 56%;
}
.icon-monitor-man-hinh{
    background-image: url(/images/icons/s9@2x.png);
}
.icon-psu-nguon-may-tinh{
    background-image: url(/images/icons/s10@2x.png);
}
.icon-phu-kien{
    background-image: url(/images/icons/s11@2x.png);
}
.icon-s12{
    background-image: url(/images/icons/s12@2x.png);
}
.icon-s13{
    background-image: url(/images/icons/s13@2x.png);
    background-position: 0 10px;
}
.icon-ram{
    background-image: url(/images/icons/s14@2x.svg);
}
.icon-card-am-thanh{
    background-image: url(/images/icons/s15@2x.svg);
}
.icon-san-pham-khuyen-mai{
    background-image: url(/images/icons/s17@2x.png);
}
#main-menu > ul > li > a > .icon-tan-nhiet{
    background-image: url(/images/icons/s18-act@2x.png);
    background-position: -2px -1px;
    background-size: 63%;
}
#main-menu > ul > li > a:hover > .icon-pc-workstation{
    background-image: url(/images/icons/s1-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-pc-gamer{
    background-image: url(/images/icons/s2-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-laptop{
    background-image: url(/images/icons/s3-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-cpu-bo-vi-xu-ly{
    background-image: url(/images/icons/s4-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-mainboard-bo-mach-chu{
    background-image: url(/images/icons/s5-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-vga-card-man-hinh{
    background-image: url(/images/icons/s6-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-case-vo-may-tinh{
    background-image: url(/images/icons/s7-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-o-cung-hdd-ssd{
    background-image: url(/images/icons/s8-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-monitor-man-hinh{
    background-image: url(/images/icons/s9-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-psu-nguon-may-tinh{
    background-image: url(/images/icons/s10-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-phu-kien{
    background-image: url(/images/icons/s11-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-s12{
    background-image: url(/images/icons/s12-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-s13{
    background-image: url(/images/icons/s13-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-card-am-thanh{
    background-image: url(/images/icons/s15-act@2x.svg);
}
#main-menu > ul > li > a:hover .icon-san-pham-khuyen-mai{
    background-image: url(/images/icons/s17-act@2x.png);
}
#main-menu > ul > li > a:hover > .icon-ram{
    background-image: url(/images/icons/s14-act@2x.svg);
}
.container > .left-content{
    width:270px;
}
.container > .right-content{
    width:900px;
    margin-left:10px;
}
#main-menu {
    width:270px;
    position:relative;
}
#main-menu > .head{
    background:#122C51;
    padding:10px 25px;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
#main-menu .head .fa{
    margin:0 20px 0 0;
}
#main-menu ul li>a{

}
#top-banner .main-banner{
    width:70%;
    float:left;
}
.left-video {
    width: 32.5%;
    margin-left: 1%;
}
.submenu.lv1{
    position: absolute;
    left: 100%;
    top: 0;
    bottom:0;
    width: 910px;
    background:#fff;
    z-index: 5;
    display:none;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    color:#fff;
}

.submenu.lv1 .head{
    color:#13609F;
    background: #fff;
    text-transform: uppercase;
    font-size:16px;
    font-weight: bold;
    padding:10px;
    border-bottom: 1px solid #dcdcdc;
}
.submenu.lv1 .box-menu-item{
}
.submenu.lv1 .box-menu-item > ul > li{
    float:left;
    width: 25%;
}
.submenu.lv1 .box-menu-item > ul > li > a{
    color:#2D2D2D;
    font-weight: bold;
    padding:10px;
    display:block;
}
.submenu.lv1 .box-menu-item > ul > li > a:hover{
    color:#0f74a8;
}
.submenu.lv1 .box-menu-item > ul > li.active > a{
    color:#fff;
    background: #052F6C;
}
.submenu.lv1 .box-menu-item > ul > li > a .fa-circle{
    font-size: 7px;
    float: left;
    margin: 6px 10px 8px 8px;
}

.submenu.lv1 .box-menu-item > ul > li > a .fa-caret-down{
    font-size:16px;
    float:right;
}
.submenu.lv1 .box-menu-item > ul > li.ac > a .fa-caret-down,
.submenu.lv1 .box-menu-item > ul > li.active > a .fa-circle{
    color:#fff;
}
.submenu.lv2 > ul > li{

}
.submenu.lv2 > ul > li > a{
    color: #2D2D2D;
    padding: 2px 5px;
    display: block;
    font-size: 13px;
    margin-left: 10px;
}
.submenu.lv2 > ul > li > a:hover{
    color:#3481c0;
}
.submenu.lv2 > ul > li > a > .fa-angle-right{
    font-size:12px;
    margin: 3px 5px 10px 0px;
}
.submenu.lv2 {

}
.active .submenu.lv2{
    max-height: none;
    opacity: 1;
}
.box-product-item{
    width: 628px;
    margin: 0 0 0 10px;
}

.grid-item .text,
.product-item .text{
    padding:5px;
    font-size: 12px;
    position:relative;
    /*background-color: rgb(16,92,155);*/
    /*background: url(/images/bg-p-item.png), linear-gradient(80deg,#105C9B 0%, #579FD8 100%);*/
    background-repeat: no-repeat;
    background-position: top right;
    color: #333;
    height: 83px;
}
#product-sale .product-item .text{
    background-image: linear-gradient(49.35deg, #122C51 0%, #1853A7 100%);
    background-repeat: no-repeat;
    background-position: top right;
    color: #fff;
}
.submenu .product-item{
    position: relative;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.submenu .product-item .text{
    background: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 44px;
}
.submenu .product-item .text .name{
    height: 34px;
    overflow: hidden;
    display: block;
}
.submenu .product-item .text .new-price,
.submenu .product-item .text .old-price,
.submenu .product-item .text .sale{
    display:none;
}
.product-item .text span.name{
    display:block;
    height: 35px;
    overflow: hidden;
    font-weight: bold;
}
.product-item .text .new-price{
    font-weight: bold;
    font-size:16px;
    line-height: 20px;
    display: block;
    color: #FF9800;
}
.product-item .text .sale{
    position:absolute;
    padding:5px 10px;
    background: #F9AA28;
    border-radius: 3px;
    font-weight: bold;
    bottom:10px;
    right:10px;
    height: auto;
}
/*.product-item a:hover .text{
    color:#dcdcdc;
}*/
.product-item:hover {
    box-shadow: 1px 2px 5px rgba(0,0,0,.7) !important
}
.product-item img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}
.product-item img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
.product-item .text .old-price{
    text-decoration: line-through;
}
.submenu.lv1 .list-product .product-item{
    width:calc(25% - 10px);
    float:left;
    margin:0px 5px 10px 5px;
}

#product-sale{
    width:900px;
    overflow: hidden;
    margin:0 0 0 10px;
}
.block-product .heading,
.right-content .block .head,
.main-product .head,
#product-sale .head{
    border: 1px solid #FFE3B5;
    border-left-width: 5px;
    background: #FFF9EF;
    margin:0 10px 10px 0;
    position:relative;
    height:34px;
}
.block-product .heading:before,
.main-product .head:before,
#product-sale .head:before{
    content:"";
    border:16px solid transparent;
    border-left:16px solid #FFF9EF;
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 2;
}
.block-product .heading:after,
.main-product .head:after,
#product-sale .head:after{
    content: "";
    border: 17px solid transparent;
    border-left: 17px solid #FFE3B5;
    position: absolute;
    left: 100%;
    top: -1px;
}
.main-product .head ul,
#product-sale .head p{
    padding: 0px 10px;
    text-transform: uppercase;
    color:#F49B0A;
    font-weight: bold;
    float:left;
}
.right-content .block .head p,
.main-product .head p{
    padding: 0 10px;
}
.block-product .heading > a,
.main-product .head > a,
#product-sale .head a{
    float: right;
    background: #FFA207;
    font-size: 12px;
    margin: 1.5px 5px 0 5px;
    padding: 1px 5px 1px 5px;
    border-left: 3px solid #FF7D00;
    position:relative;
    color:#ffffff;
}
.block-product .heading > a:after,
.main-product .head > a:after,
#product-sale .head a:after{
    content: "";
    border: 10px solid transparent;
    border-left: 10px solid #FFA207;
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 3;
}
#product-sale .heading{
    margin-right: 16px;
}
/*
#product-sale .heading{
    margin-right: 16px;
    background: #FFF9EF;
    border-color: #FFE3B5;
    color:#F49B0A;
}
#product-sale.block-product .heading:before{
    border-left-color: #FFF9EF;
}
#product-sale.block-product .heading:after{
    border-left-color: #FFE3B5;
}
 */


#product-sale .box-slide{
    margin:  0 0 5px 0;
}
.box-slide{
    position:relative;
    overflow: hidden;
}
.product-detail .product-images{
    width: 850px;
    min-height: 450px;
}
.product-detail .product-images:before{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: fbStoriesPlaceHolderShimmer;
    animation-timing-function: steps(10, end);
    background-image: linear-gradient( to right, #F5F6F7 0%, #e9ebee 20%, #F5F6F7 40%, #F5F6F7 100% );
    background-repeat: no-repeat;
    background-size: 850px 600px;
    content: ' ';
    display: block;
    height: 100%;
    position: absolute;
}
.product-images .box-slide{
    position:relative;
    overflow: hidden;
}
.product-images .box-slide .item img{
    border:1px solid #dcdcdc;
}
.box-slide .owl-carousel .owl-nav button.owl-next,
.box-slide .owl-carousel .owl-nav button.owl-prev{
    margin-top: -20px;
    position: absolute;
    top: 50%;
    padding: 20px;
    background: #f9aa28;
    font-size:40px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border-radius: 2px;
    color:#fff;
    outline:none;
    transition: all 0.3s ease-in-out;
}
.box-slide .owl-carousel .owl-nav button.owl-prev,
.box-slide .owl-carousel .owl-nav button.owl-next{
    background: rgba(255, 255, 255, 0.3);
    font-size:40px;
    width: 30px;
    height: 40px;
}

.box-slide .owl-carousel .owl-nav button.owl-next{
    right:-50px;
}
.box-slide .owl-carousel .owl-nav button.owl-prev{
    left:-50px;
}
.box-slide:hover .owl-carousel .owl-nav button.owl-next{
    right:10px;
}
.box-slide:hover .owl-carousel .owl-nav button.owl-prev{
    left:10px;
}

.box-slide .owl-carousel .owl-nav button.owl-next :after,
.box-slide .owl-carousel .owl-nav button.owl-prev :after{
    content:"";
    width:20px;
    height: 40px;
    z-index: 2;
    background: #fff;
    position:absolute;
    top:2px;
    left:17px;
}
.box-slide .owl-carousel .owl-nav button.owl-next :after,
.box-slide .owl-carousel .owl-nav button.owl-prev :after{
    background: none;
}
.box-slide .owl-carousel .owl-nav button.owl-next :after,
.box-slide .owl-carousel .owl-nav button.owl-next :after{
    left:inherit;
    right:17px;
}
.box-slide .owl-carousel .owl-nav button.owl-next  span,
.box-slide .owl-carousel .owl-nav button.owl-prev  span {
    position: absolute;
    left: 5px;
    top: -2px;
}
.box-slide .owl-carousel .owl-nav button.owl-next  span{
    left:inherit;
    right:5px;
}
.box-slide .owl-dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
.box-slide .owl-theme .owl-dots .owl-dot span{
    background: #fff;
}

#product-sale .box-slide .owl-carousel .owl-nav button{
    margin-top:-50px;
}
.hoz-banner{
    text-align: center;
    padding: 30px;
    background: #2f7cbc;
    color:#fff;
    width: 900px;
}
.left-content.news-special{
    width:270px;
    float:left;
}
.news-special .head{
    background: rgba(42,115,219,0.06);
    border:1px solid rgba(41,116,177,0.13);
    border-left: 3px solid #105C9B;
    margin:0 0 10px 0;
}
.news-special .head p{
    padding:4px 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;

}
.list-news .news-item{
    background: rgba(42,115,219,0.06);
    margin:0 0 9.5px 0;
}
.list-news .owl-carousel .owl-item img{
    height: 195px;
    object-fit: cover;
}
.news-item .text{
    border: 1px solid rgba(0,89,222,0.28);
    padding:5px;
    height: 60px;
    overflow: hidden;
}
.list-news .news-item a{
    color:#000;
    font-size: 12px;
    font-weight: bold;
}
.list-news .news-item a:hover{
    color:#2f7cbc;
}
.list-news .news-item a .time{
    color:#666666;
    font-weight: normal;
}
#news-special-slide .owl-nav{
    margin: 0;
}
#news-special-slide .owl-nav button{
    border-radius: 4px;
    background: rgba(42,115,219,0.1);
    font-size: 12px;
    font-weight: normal;
    margin:0;
    color:#579FD8;
    outline:none;
    bottom: -27px;
    top: initial;
    height: 28px;
    width:50px;
    line-height: 16px;
    text-align: center;
}
#news-special-slide .owl-nav button.owl-prev{
    left: 0;
}
#news-special-slide .owl-nav button.owl-next{
    right: 0;
}
#news-special-slide .owl-prev{
    float:left;


}
#news-special-slide .owl-next{
    float:right;
}
.news-special .view-all{
    text-align: center;
}
.news-special .view-all a{
    background: linear-gradient(221.1deg, #579FD8 0%, #105C9B 100%);
    padding: 7px 20px 3px 20px;
    color:#fff;
    text-transform: uppercase;
    line-height: 31px;
    border-radius: 3px;
}
.right-content{
    float:right;
    width:900px;
    margin:0 0 0 10px;
}
.right-content .news-item{
    width: 25%;
    float: left;
}
.block-product .heading,
.right-content .block .head,
.main-product > .head{
    background:#f2f7fd;
    border:1px solid #cddff2;
    border-left: 5px solid #105C9B;
    border-right: none;
}
.block-product .heading a.view-all,
.main-product .head a.view-all{
    background:linear-gradient(90deg, rgba(16,92,155,1) 0%, rgba(87,159,216,1) 100%);;
    border-left: 3px solid #39a2f9;
    color:#fff;
    border-radius: 2px 0 0 2px;
}
.block-product .heading > a:after,
.main-product .head > a:after{
    border-left-color:#579FD8;
}
.block-product .heading:before,
.main-product .head:before{
    border-left-color:#f2f7fd;
}
.block-product .heading:after,
.right-content .block .head:after,
.main-product .head:after{
    border-left-color:#cddff2;
}

.right-content .main-product .head:before,
.right-content .main-product .head:after{

}
.block-product .heading,
.right-content .block .head,
.right-content .main-product .head{
    border-right: 1px solid #cddff2 !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding:5px 0;
}

.right-content .main-product .head h2{
    display: inline;
    font-size: 16px;
}
.right-content .main-product .head h2 a{
    font-weight: bold;
    border: none;
    font-size: 16px;
    color: #0C2C54;
    padding: 1px 20px 1px 10px;
    text-transform: uppercase;
}
.block-product .heading p,
.right-content .block .head p,
.right-content .main-product .head p{
    font-size: 16px;
    font-weight: bold;
    float:left;
    text-transform: uppercase;
}

.right-content .main-product .head h1, .right-content .main-product .head h2{
    font-size: 16px;
    font-weight: bold;
    float:left;
    text-transform: uppercase;
    padding: 0 10px;
}

.block-product .heading p{
    margin-left: 10px;
}
.right-content .block .head .option,
.right-content .main-product .head .option{
    float:right;
}
.main-product .head ul li{
    float:left;
}
.main-product .head ul li h1{
    margin: 0;
    display: inline;
    font-size: 16px;
    text-transform: uppercase;
}

.main-product .head h3{
    margin: 0;
    font-size: 16px;
    display: inline;
    text-transform: uppercase;
}
.main-product .head h3 a{
    color:#0C2C54;
    font-weight: bold;
    padding: 1px 10px 1px 10px;
    border: none;
    font-size: 16px;
    float: left;
}

.main-product .head ul li a{
    color:#0C2C54;
    padding: 1px 10px;
    border-left: 1px solid #cddff2;
    font-weight: normal;
    font-size: 13px;
}
.main-product > .head{
    margin-bottom:20px;
    margin-right: 10px;
}
.main-product .list-product{
    margin-bottom:30px;
    overflow: hidden;
}
.main-product .head ul {
    border-left-color:#105c9b;
}
.main-product .head ul li:first-child a{
    /* font-weight: bold; */
    border:none;
    /* font-size: 16px;
    padding-left: 0; */
}
.main-content .left-content{
    width: 270px;
    float: left;
}
#main-content .left-content,
#main-content .right-content{
    margin-top:20px;
}
/*-------------------- Filter--------------------*/

 @media (min-width: 1024px){
    .product-category.active-filter .main-content .left-content-cate{
        width: 270px;
        overflow: inherit;
    }
 }


.left-content-cate::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.left-content-cate::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
}
.left-content-cate::-webkit-scrollbar-thumb{
    background-color: #888;
}

.left-content-cate.fixtop{
    position: fixed;
    bottom:0;
    z-index: 10;
    width: auto;
    height: auto;
}
.product-category.active-filter .main-content .right-content{
    width: 900px;
}
.product-category.active-filter .block-filter-cate{
    max-width: 650px;
    height: 40px;
}
.product-category .active-left-content.fixtop{
    position: fixed;
    top:72px;
    left: 0;
    right:0;
    z-index: 9;
}
.product-category .active-left-content{
    margin: 0 0 10px 0;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
}
.product-category .active-left-content .container{
    background: #122C51;
    padding: 0px 15px;
    overflow: initial;
    height: 40px;
}
#btn-active-left-content{
    cursor: pointer;

}

.active-left-content.fixtop #btn-active-left-content{
    width: 265px;
}


#btn-active-left-content .closed{
    display: none;
}
.active-filter .left-content-cate.fixtop  #main-menu .head.for-pc,
.active-filter .opened{
    display: none;
}
.active-left-content.fixtop .opened{
    display: block;
}
.active-left-content.fixtop .opened{
    float: left;
    margin-right: 15px;
}
.active-filter #btn-active-left-content .closed{
    display: block;
    float: right;
    padding-right: 10px;
    border-right: 1px solid #828282;
    color: #d90000;
}
.product-category .breadcrumb{
    margin: 0;
    line-height: 41px;
}
.product-sale .image{
    position: relative;
    overflow: hidden;
}
.product-sale .image:after{
    content: "Sale";
    position: absolute;
    top: -17px;
    right: -36px;
    background: rgba(255, 7, 0, 0.3);
    color: #fff;
    transform: rotate(45deg);
    padding: 32px 30px 3px 30px;
    text-transform: uppercase;
    font-size: 11px;
}
.product-category .main-product .option select{
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    width: auto;
    color: #fff;
}
.product-category .option select option{
    background: #ffffff;
    padding: 5px;
    text-align: right;
    color: #333;
}
.btn-active-left-content .fa{
    margin-right: 20px;
}
.banner-promotion{
    margin-bottom:5px;
    overflow: hidden;
}
.banner-promotion .banner-right img{
    width: 100%;
}

.product-category .block-filter-cate{
    float: left;
    margin-left: 20px;
}
.block-filter-cate ul li{
    float: left;
    margin-right: 5px;
    text-transform: none;
    font-weight: normal;
    position: relative;
    padding: 0 6px;
    font-size: 13px;
}
.block-filter-cate ul li:hover{
    background:#2a5595;
    cursor: pointer;
}
.block-filter-cate ul li .body{
    max-height: 0;
    position: absolute;
    top:100%;
    left: 0;
    overflow: hidden;
    z-index: 9;
    background: #fff;
    color: #333;
    width: 452px;
}
.block-filter-cate ul li:hover .body{
    max-height: 1000px;
    border: 1px solid #dcdcdc;
}
.block-filter-cate ul li .body .flexed{
    border-bottom:1px solid #dcdcdc;
    padding: 5px 8px;
    line-height: 19px;
    cursor: pointer;
    width: 150px;
    float: left;
}
.block-filter-cate ul li .body .flexed.active{
    background: #e9ecef;

}
.block-filter-cate ul li .body .flexed.active:after{
    content:"X";
    float: right;
    color: #ff0000;
    line-height: 8px;
    padding: 5px;
}
.block-filter-cate ul li .body .flexed:hover{
    background: #e9ecef;
}
.block-filter-cate ul li .body .flexed:first-child{

}
/**---------------------End filter----------------------**/
.grid .grid-item,
.workstation-product .product-item{
    width: 24%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}
.grid .grid-item.news-item{
    width: 24%;
}
.pc-gaming-product .product-item{
    width: 24%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}
.pc-gaming-product.five-column .product-item{
    width: 19%;
}
.news-item .image img{
    height: 150px;
    width: 100%;
}
.partner .item{
    border:1px solid #dcdcdc;
}
#footer .container .column{
    float:left;
    width:25%;
    padding:0 0 0 20px;
}
.floor-1 .column p{
    text-transform: uppercase;
    font-weight:bold;
    font-size:16px;
    color:#fff;
}
.partner{
    margin:20px 0;
}
#footer{
    background: linear-gradient(234.62deg, #579FD8 0%, #105C9B 100%);

}
#footer .floor-1{
    background: rgba(255,255,255,0.08);
    padding:10px 0 7px 0;
}
#footer .floor-2{
    padding:10px 0 7px 0;
}
#footer .floor-2 ul li{
    line-height: 30px;
}
#footer .floor-2 ul li:before{
    content: "";
    color: #F9AA28;
    margin: 13px 10px 0 0;
    line-height: 18px;
    width: 4px;
    height: 4px;
    background: #F9AA28;
    border-radius: 50%;
    float: left;
}
#footer .floor-2 ul li a{
    color:#fff;
}
#footer .floor-3{
    background:linear-gradient(180deg, rgba(12,79,137,0.83) 0%, rgba(0,35,80,0.83) 100%);
    padding:15px 0;
}
#footer .floor-3 .column {
    float:left;
    width:25%;
}
#footer .floor-3 .column-50{
    width:35.25%;
}
#footer .info-company p{
    color:#fff;
    line-height: 20px;
}
#footer .floor-4{
    text-transform: uppercase;
    text-align: center;
    background: #031F40;
    padding:10px 0;
    color:#fff;
}
#footer .floor-4 .container{
    width:800px;
}
#footer .floor-5{
    text-align: center;
    font-size: 13px;
    background: #000D1D;
    padding:10px 0;
    color:#fff;
}
.popup-hover-product{
    position:fixed;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
    background: #fff;
    z-index: 5;
    width: 500px;
    display: none;
}
.popup-hover-product .top .name{
    float:left;
    font-weight: bold;
    font-size: 15px;
    width: 70%;
    line-height: 1.4em;
    padding:10px;
}
.popup-hover-product .top img{
    float:right;
    width: 80px;
}
.popup-hover-product .body{
    clear:both;
    font-size: 16px;
    padding:10px;
    border-top:1px solid #dcdcdc;
}
.popup-hover-product .body img{
    width: 250px;
    float:left;
    margin:0 10px 10px 0;
}
.popup-hover-product .body .price{
    font-weight: bold;
    font-size: 28px;
    color:#ff0000;
}
.popup-hover-product .body .old-price{
    text-decoration: line-through;
    color:#888888;

}
.popup-hover-product .des{
    clear:both;
}
.popup-hover-product .promotion .cap,
.popup-hover-product .des .cap{
    font-weight: bold;
    margin:10px 0;
}
.popup-hover-product .promotion .cap{
    color:#ff0000;
}
.popup-hover-product .des .content{
    color:#222;
    padding:8px;
    background: #efefef;
    border-radius: 1px;
}
.popup-hover-product .promotion .content{
    color:#222;
    padding:8px;
    background: #fff0f0;
    border-radius: 1px;
}
.breadcrumb{
    background: none;
    padding:0;
    margin:10px 0;
}
.breadcrumb ol li{
    list-style: none;
    float:left;
}
.breadcrumb ol li a{
    color:#333;
}
.breadcrumb ol li .fa{
    font-size: 12px;
    margin:0 5px;
}
h1.product-name{
    background: rgba(41,116,177,0.13);
    border: 1px solid #a2cbeb;
    font-size: 22px;
    padding: 5px 10px;
    border-left: 4px solid #307fbe;
    margin: 0 0 20px 0;
}
.product-images .owl-dots{

}
.product-detail .head{
    font-weight: bold;
    font-size: 18px;
}

.product-detail .quick-link{

}
.product-detail .quick-link a{
    float: left;
    width: 49%;
    margin: 0 0 0 1%;
    background: #F5F5F5;
    border: 2px solid #D9D9D9;
    padding: 6px;
    text-align: center;
    color: #767676;
}
.product-detail .quick-link a:first-child{
    background: linear-gradient(90deg, #0E5B9A 0%, #4C9DDC 100%);
    border:none;
    padding:8px;
    color:#ffffff;
    margin:0 1% 0 0;
}
.product-detail .left-content{
    width: 850px;
    float:left;
}
.product-detail .right-content{
    width: 320px;
    margin-left: 10px;
    float:left;

}
.product-detail  .price{
    border: 2px solid #f48e0b;
    background: rgba(245, 149, 10, 0.22);
    padding: 10px;
}
.product-detail h2.product-name{
    font-size: 16px;
    font-weight: bold;
    color: #13609F;
    margin: 0 0 10px 0;
    display: inline-block;
}
.product-detail  .price .sale{
    background: #ff9f00;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
}
.product-detail .price .old-price{
    font-weight: bold;
    color: #7e7e7e;
    text-decoration: line-through;
    display: inline-block;
    margin-left: 10px;
}
.product-detail .price .new-price{
    font-size: 30px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #E02020, #FFCA00 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product-detail .buy{
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    display: block;
    font-size: 18px;
    font-weight: bold;
    color:#fff;
    background: linear-gradient(90deg, rgba(224,32,32,1) 0%, rgba(255,202,0,1) 100%);
    border-radius: 3px;
    margin: 0 auto 20px auto;
    border: none;
}
.product-detail .buy span{
    text-transform: none;
    display: block;
    font-size: 12px;
    font-weight: normal;
}
.product-detail .warr,
.product-detail .status{
    text-transform: uppercase;
    color: #0BBE0F;
    font-weight: bold;
    font-size: 12px;
    float: left;
}
.product-detail .warr{
    float: right;
    color:#F41B15;
}
.product-detail .warr label,
.product-detail .status label{
    color:#333;
}
.product-detail .call{
    background: #007bff;
    padding: 10px;
    border-radius: 3px;
    clear: both;
    display: inline-block;
    text-align: center;
}
.product-detail .call a {
    color: #fff;
    font-size: 18px;
}

.product-detail .content img{
    display: block;
    margin-bottom: 10px;
    width:100%;
}
.product-related {
    margin: 10px 0 0 0;
}
.product-support .head,
.product-related .head{
    background: rgba(41,116,177,0.13);
    border: 1px solid #a2cbeb;
    font-size: 18px;
    padding: 5px 10px;
    border-left: 4px solid #307fbe;
    margin: 0 0 20px 0;
}
.product-related .product-item{
    width: 49%;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
}
.product-related .product-item:nth-of-type(2n){
    margin-right: 0;
}
.product-support .support{
    border: 2px solid #21bf77;
    padding: 10px;
    font-weight: bold;
    color: #333;
    line-height: 26px;

}
.product-support .support .fa{
    color:#21bf77;
    margin: 0 6px 0 0;
}
.main-product .option select{
    border: none;
    background: transparent;
    outline: none;
    font-weight: bold;
    width: 90px;
    margin-right: 20px;
}
.main-product .option .display{
    float: right;
}
.main-product .option .display .fa{
    float: left;
    margin:5px;
    cursor: pointer;
    color:#666;
}
.main-product .option .display .fa.active{
    color:#5488ef;
}
.product-filter #main-menu{
    max-height: 30px;
    overflow: hidden;
    float:left;
}
/*-----------*/

/*
.product-category .block-filter-cate{
    clear: initial;
    width: 870px;
    float:left;
}
.product-category .right-content{
    clear: both;
}
.product-category .block-filter li{
    float: left;
}
.product-category .block-filter li .body .flex{
}
 */

.product-detail a {
    color: rgb(15, 91, 154);
    font-weight: bold;
}

.product-filter #main-menu.open{
    max-height: 1000px;
    overflow: initial;
}
.block-filter li{
    padding:5px 10px;
    display: block;
    border-bottom:1px solid #D8E6F3;
    overflow: hidden;
}
.block-filter{
    background: #F3F7FD;
    clear: both;
    overflow: hidden;
}

.block-filter.fixtop{
    width: 270px;
    position: fixed;
    top:112px;
}
.block-filter .head.head-filter{
    overflow: hidden;
    background: #125e9d;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding:10px;
}
.head.head-filter .fa-filter{
    font-size: 18px;
    margin-right: 10px;
}
.block-filter li .head{
    overflow: hidden;
    padding: 3px 0;
    cursor: pointer;
}
.block-filter li .head span{
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}
.block-filter li .head .fa{
    float: right;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    margin-top: 10px;
}
.block-filter li .body{
    clear:both;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
}
.block-filter li.active .fa{
    transform: translateY(-50%) rotate(180deg);
}
.block-filter li.active .body{
    height: auto !important;
}
.block-filter li .body > div{
    float:left;
}
.block-filter li .body > div.space{
    font-weight: bold;
    margin: 12px 5px;
    width: 10px;
    height: 2px;
    background: #a7a7a7;
}
.block-filter li .body .filter-price-box{
    width: 115px;
    border-radius: 20px;
    border: 1px solid #D8E6F3;
    padding: 4px 10px;
    height: 25px;
    background: #E6EEFB;
    outline: none;
}
.block-filter li .body .filter-price-box::placeholder{
    color:#666;
}
.block-filter li .body .flex{
    width: 47%;
    margin-right:3%;
    margin-bottom: 3%;
    float:left;
    border: 1px solid #D8E6F3;
    background: #E6EEFB;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    padding: 3px;
    cursor: pointer;
}
.block-filter li .body .flex.active{
    background: #375688;
    color: #fff;
}

.block-filter li .body .flex:nth-of-type(2n){
    margin-right: 0;
    text-align: center;
}
.block-filter .buttons{
    padding:4px;
    background: #122C51;
    overflow: hidden;
    text-align: center;
}
.block-filter .buttons span{
    padding:5px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 100px;
    text-align: center;
    cursor: pointer;
    background: rgb(224,32,32);
    background: linear-gradient(90deg, rgba(224,32,32,1) 0%, rgba(255,202,0,1) 100%);
    color: #fff;
    margin: 0 5px;
    border-radius: 4px;
    font-weight: bold;
}
.block-filter .buttons span.delete{
    background: #fff;
    color:#074371;
}
.shopping-cart-page .product-selected .number,
.block-build-config .product-selected .number{
    width:100px;
    border-radius: 20px;
    border:1px solid #dcdcdc;
    text-align: center;
    background: #ececec;
}
.product-selected .number input{
    width:50px;
    border:none;
    border-left:1px solid #dcdcdc;
    border-right:1px solid #dcdcdc;
    outline:none;
    text-align: center;
    background: #fff;
    padding: 3px 0 1px 0;
}
.product-selected .number .fa{
    font-size: 11px;
    padding:5px 3px;
    cursor: pointer;
}
.block-build-config .body{
    margin:0 15px;
}
.shopping-cart-page .price,
.block-build-config .price{
    color:#E1291E;
}
.btn-rebuild{
    background: linear-gradient(90deg, rgba(224,32,32,1) 0%, rgba(255,202,0,1) 100%);
    color:#fff;
    padding:10px 15px;
    border-radius: 3px;
    cursor: pointer;
}
.product-selected .btn{
    font-size: 12px;
    color:#fff;
    padding:5px 10px;
    width: 70px;
    border-radius: 3px;
    display: block;
}
.product-selected .btn.btn-reselect{
    background: #FF9F00;
}
.product-selected .btn.btn-delete{
    background: #E02020;
}
.block-build-config .body .btn-select-device{
    padding:5px 10px;
    color:#fff;
    border-radius: 3px;
    background: #122C51;
    font-size:12px;
    font-weight: bold;
}
.block-build-config .body table tr th:first-child,
.block-build-config .body table tr td:first-child{
    border-right:1px solid #dee2e6;
}
#total-price-buil{
    font-size: 22px;
}
.modal-build .modal-header{
    background: #122C51;
    color:#fff;
    border-radius: 0;
}
.modal-build .modal-body{
    padding:0;
    background: #F3F7FD;
    min-height: 450px;
}
.modal-build .menu-device{
    border-right:1px solid #D8E6F3;
    padding:0;
}
.modal-build .list-device{
    padding:0;
}
.modal-build .input{
    background: #F5F5F5;
    border: 1px solid #e5e5e5;
    margin: 5px;
    height: 35px;
}
.modal-build .input input{
    width: 80%;
    float:left;
    border:none;
    outline:none;
    background: transparent;
}
.modal-build .input input::-webkit-input-placeholder{
    color:#333;
}
.modal-build .input .icon{
    width: 10%;
    float: right;
    padding: 2px;
    background: #FF9F00;
    border-radius: 2px;
    text-align: center;
    color: #fff;
}
.list-device-result .row{
    border-top:1px solid #dee2e6;
    padding:10px 5px;
}
.list-device-result .btn{
    font-weight: normal;
    font-size: 10px;
    height: 26px;
    color:#fff;
    border-radius: 3px;
}
.list-device-result .btn-select{
    background: #122C51;
}
.list-device-result .btn-ban{
    background: #E02020;
}
.list-device-result .price{
    color:#E1291E;
    font-size: 12px;
}
.list-device-result .sku{
    font-size: 12px;
    color:#666;
}
.list-device-result .message {
    margin-top: 20px;
}
.rate .fa-star{
    color:#ffa500;
}
.nav-tabs{
    margin-bottom:10px;
    margin-top: 10px;
    background: #dee2e6;
    border-radius: 4px 4px 0 0;
}
.nav-tabs .nav-link{
    font-weight: bold;
    text-transform: uppercase;
}
.nav-tabs.fixtop{
    position: fixed;
    top: 72px;
    z-index: 9;
    width: 850px;
    background: #dee2e6;
    margin-top: 0;
}
/*#tab-media iframe{
    width:100%;
    height:550px;
}*/
.tab-content .caption{
    margin: 15px 0 5px 0;
    padding-bottom: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700!important;
}
.tab-content .h1,
.tab-content .h2,
.tab-content .h3,
.tab-content .h4{
    font-size: 12px;
    font-weight: normal;
}
.tab-content img{
    width: 100%;
    margin: 8px 0;
}
.spacer.horizon-line{
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
    position: relative;
    margin: 10px 0 20px 0;
}
.spacer.horizon-line .text{
    position: absolute;
    background: #fff;
    top: -13px;
    padding: 3px 10px;
    left: 50%;
    margin-left: -78px;
}
.btn-action{
    border-bottom:3px solid transparent;
}
.btn-action.active{
    border-color:#82b1ff;
}
.btn-fb, .btn-fb:hover{
    background: #4267b2;
    color: #fff;
}
.btn-gg, .btn-gg:hover{
    background-color: #dd4b39;
    color: #fff;
}
#loginForm .error,#registerForm .error {
    margin-bottom: 10px;
    color: red;
    text-align: center;
}

#footer .info-company a {
    color: yellow;
    text-decoration: none;
}
.pagination{
    margin-bottom: 10px;
    justify-content: center;
}
.pagination .page-link{
    color: #474747;
    background-color: #fcfcfc;
    border: 1px solid #dee2e6;
    margin: 0 4px;
    padding: 4px 8px;
    font-size: 12px;
}

.bp-loading {
    align-items: center;
    justify-content: center;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    text-align: center;
    padding-top: 23%;
    background-color: rgba(0,0,0,0.2);
}

.hidden {
    display: none !important;
}
.shopping-cart-page .left-content{
    width:900px;
    float:left;
}
.shopping-cart-page .right-content{
    width:270px;
    float:left;
    margin-left: 10px;
}
.shopping-cart-page .box-pay,
.shopping-cart-page .product-selected{
    box-shadow: 0 0px 4px 2px rgba(0,0,0,0.1);
    margin: 10px 0;
    padding:10px;
}
.shopping-cart-page .block-card{
    margin-bottom: 5px;
    font-weight: bold;
    overflow: hidden;
}
.shopping-cart-page .block-card span{
    float: right;
    text-align: right;
}
.shopping-cart-page .box-pay i{
    font-size: 13px;
    color:#666;
}

.btn-buy-now {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90deg, rgba(224,32,32,1) 0%, rgba(255,202,0,1) 100%);
    border: none;
}
.mb-20 {
    margin-bottom: 20px;
}
#profile-user .col-md-4{
    border-right:1px solid #dcdcdc;
}
#profile-user .caption{
    font-weight: bold;
    color: #ff0000;
    text-transform: uppercase;
    margin: 15px 0;
}
.socical-icons{
    position: fixed;
    right: 10px;
    top: 50%;
    margin-top: -90px;
    z-index: 9;
}
.socical-icons li{
    margin: 0 0 5px 0;
}
.socical-icons li .fa{
    display: block;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
}
.socical-icons li .fa.fa-phone{
    background: #FF9F00;
}
.socical-icons li .fa.fa-location-arrow{
    background: #28a745;
}
.socical-icons li .fa.fa-facebook {
    background: #4267b2;
}

.socical-icons li .fa.fa-youtube {
    background: #cc0000;
}
.socical-icons li .fa.fa-cog{
    background:#F44336;
}
.socical-icons li .fa.fa-comments-o {
    background: #0084ff;
}

.block-contact > p{
    border-bottom: 1px solid #dcdcdc;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 8px;
    color:#666;
}
.block-contact .item-people{
    line-height: 1.8em;
}
.block-contact .item-people > a{
    color:#FFB233;
}
.top-header .header-item.hotline a span {
    color: #FFB233;
}
#header a {color: #fff;}
.showroom, .showroom a, .support a, .header-item.support .fa-support,
#header .menu a, #modal-contact .item-people a{
    color: #FFB233 !important;
}
.list-product .product-item a {
    display: block;
    overflow: hidden;
}
.dropdown-item:hover {
    background: #fff;
}
.item-people {
    display: flex;
}

.item-people a:first-child {
    font-weight: bold;
    font-size: 14px;
    flex: 1;
}

.item-people a:last-child {
    width: 75%;
}


/* css popup sale*/
#salePopup {
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    background: rgba(0,0,0,.5);
}

.popup-content {
    width: 692px;
    margin: auto;
    position: relative;
    top: 25%;
}

.popup-content .close {
    position: absolute;
    right: 0;
    background: #fff;
    padding: 5px 10px;
}

.block-filter-cate ul.filter-search li .body .flexed {
    width: 180px;
}

.block-filter-cate ul.filter-search li .body {
    width: 542px;
}

.left-content a {
    color: #007bff;
}

/* custom table css*/
.product-detail .tab-content table, .product-detail .tab-content table td, .product-detail .tab-content table th {
    border: 1px solid #333 !important;
}
.product-detail .tab-content table td {
    padding: 3px !important;
}
.product-detail .tab-content table tr:nth-child(2n) {
    background: rgba(9, 30, 66, .1) !important;
}


/*----*/
.post-content .content-inner iframe {
    height: 315px;
}
ul.more-menu > li{
    width:100%;
}
ul.more-menu > li .header{
    border-bottom:1px solid #dcdcdc;
}
.block-filter-cate ul.more-menu > li{
    background:#fff;
    cursor: pointer;
}
ul.more-menu > li .row{
    margin-right: 0;
    margin-left: 0;
}

ul.more-menu > li .row .flexed {
    width:146px;
}
@keyframes gradient{0%{background-position:0 0}
100%{background-position:-200% 0}}


/* custom css*/
#top-banner .main-banner {
    width: 66% ;
}

.banner-advertise .item-advertise {
    float: left;
    width: 32.5%;
    margin-right: 1%;
}
.banner-advertise .item-advertise:last-child {
    margin-right: 0 !important;
}

#top-banner {
    margin-top: 30px;
}
#main-menu > .head {
    padding: 5px 20px !important;
}

#main-menu > ul > li > a .icon {
    float: unset;
}
#main-menu > ul {
    background: #dbdfe4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#slide1 .product-item {
    width: 270px !important;
    margin-bottom: 30px;
    margin-right: 26px;
    background: #0a4b77;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
#slide1 .owl-item .product-item:nth-child(3n) {
    margin-right: 0 !important;
}
#slide1 .product-item .new-price {
    color: #f8cf90;
}
#slide1 .product-item  .image  img{
    height: auto;
}

#product-sale {
    background: linear-gradient(to bottom, #1a64a0, #0080f4);
    background-size: 100%;
    margin: 0 1% 30px 0;
    border-radius: 10px;
}
#product-sale .heading {
    background: transparent;
    border: none !important;
    box-shadow: none;
}
#product-sale .box-slide {
    margin: 35px 0 0 0;
    padding: 0 15px 60px 15px;
}
#product-sale .owl-dots {
    bottom: -30px;
    margin: 0;
}
#slide1 .owl-stage > .active:nth-child(3n) {
    margin-right: 0 !important;
}
#product-sale .heading p {
    padding: 15px 15px;
    color: #f8cf90;
}
#product-sale .heading a {
    background: linear-gradient(to bottom , #f6c881 0%, #e19a43 100%);
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    margin-top: 5px;
}
.block-product .heading > a:after, .block-product .heading:before, .block-product .heading:after {
    content: unset;
}
#product-sale .product-item .text {
    background: unset;
}

.news-special{
    background: linear-gradient(to bottom, #1a64a0, #0080f4);
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
}
.news-special .head {
    border: none;
}
.news-special .head p {
    padding-top: 5px;
    color: #f8cf90;
}

.list-news .news-item a {
    display: inline-block;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.list-news .news-item a .time {
    color: #aad4f8;
}
#news-special-slide .owl-nav button {
    color: #fff;
    background: rgba(255,255,255.1);
    display: block;
    bottom: -40px;
    width: 30px;
    border-radius: 50%;
}
#news-special-slide .owl-nav button i {
    color: #eeb668;
}
.news-special .view-all a {
    background: #eeb668;
    padding: 10px;
    border-radius: 30px;
}
.news-item .text {
    border: none;
}
.list-news .news-item a:hover {
    color: #fff;
}
.list-news .owl-carousel .owl-item img {
    border-radius: 5px;
}
.news-special .view-all {
    padding: 10px;
}
.news-special {
    margin-bottom: 30px;
}
.comment-fb {
    position: fixed;
    left: 5px;
    bottom: 60px;
}
.comment-fb a {
    font-size: 25px;
    background: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    display: block;
    margin-bottom: 5px;
}
        
.block-build-config .list-btn-action {
    list-style-type: none;
    margin-bottom: 20px;
    margin-top:0;
    float:left;
    border:none;
}
.block-build-config .list-btn-action li {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    float: left;
    text-align: center;
    padding: 0 2px;
}

.block-build-config .list-btn-action li a {
    display: block;
    border-radius: 3px;
    background-color: #d9d9d9;
    color: #333;
    text-transform: uppercase;
    line-height: 40px;
    cursor: pointer;
    opacity: 1;
    font-size: 14px;
    transition: 0.3s ease;
    padding: 0 20px;
}
.list-btn-action-new li.active a, .list-btn-action li:hover a {
    background-color: #2d3877;
    color: #fff;
}