.w10{
    width: 10% !important;
}
.w20{
    width: 20% !important;
}
.w30{
    width: 30% !important;
}
.w40{
    width: 40% !important;
}
.w50{
    width: 50% !important;
}
.w60{
    width: 60% !important;
}
.w70{
    width: 70% !important;
}
.pr10{
    padding-right:10px;
}
.mg10{
    margin:10px !important;
}
.mgx10{
    margin: 0 10px;
}
.mgy10{
    margin: 10px 0;
}
.mgr10{
    margin-right:10px;
}
.mgl10{
    margin-left:10px;
}
.pd5{
    padding:5px;
}
.pdx5{
    padding: 0 5px;
}
.pd10{
    padding:10px;
}
.mgx15{
    margin:0 15px;
}
